.dash-line {
  type: LineDashedMaterial;
  dashSize: 0.08;
  gapSize: 0.01;
}

.asterism {
  color: #cccccc;
}

.cut {
  type: LineBasicMaterial;
  color: hsl(230, 30%, 40%);
  linewidth: 2;
}

.fold {
  color: hsl(230, 30%, 30%);
  linewidth: 2;
}

.stars {
  type: PointsMaterial;
  color: hsl(0, 0%, 100%);
  size: 0.00625;
}

.poly-face {
  type: MeshBasicMaterial;
  color: hsl(230, 54%, 25%);
  transparent: true;
  opacity: 0.6;
  side: DoubleSide;
}
.active .poly-face {
  color: hsl(5, 54%, 35%);
}

.active .cut {
  color: hsl(5, 30%, 40%);
}

.active .fold {
  color: hsl(5, 30%, 30%);
}
