<!DOCTYPE html>
<html>
<head>
  <title>-</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#2A2D43">
  <link rel="stylesheet" href="assets/style.css" />
  <link rel="stylesheet" href="assets/materials.three.css" type="text/threejs+css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/85/three.js"></script>
</head>
<body>
  <div id="app">
    <div id="menu">
      <form>
        <h2>Shape</h2>
        <p class="description">
          Pick the shape onto which stars and asterisms will be projected.
        </p>
        <select v-model="selectedGeometry">
          <option v-for="option in availableGeometries">
            {{option}}
          </option>
        </select>

        <h2>Net</h2>

        <fieldset>
          <div>
            <input id="disconnect-polygons" type="checkbox" v-model="netOptions.disconnectPolygons" />
            <label for="disconnect-polygons">Separate Polygons</label>
          </div>

          <div>
            <label for="scale-dimension">Scale dimension</label>
            <select id="scale-dimension" v-model="netOptions.scaleDimension">
              <option value="edgeLength">Edge Length</option>
              <option value="inscribedRadius">Inscribed Radius</option>
              <option value="circumscribedRadius">Circumscribed Radius</option>
              <option value="templateHeight">Template height</option>
              <option value="templateWidth">Template width</option>
            </select>
          </div>

          <div>
            <label for="size">Size (centimeters)</label>
            <input id="size" type="number" v-model="netOptions.size" />
          </div>

          <div>
            <label for="padding">Padding (centimeters)</label>
            <input id="padding" type="number" v-model="netOptions.padding" />
          </div>
        </fieldset>

        <h2>Stars</h2>
        <p class="description">
          Filter the catalog of stars.
        </p>

        <label>Magnitude</label>
        <input v-model="filters.magnitude"
          type="range"
          min="-2.00"
          max="13.00"
          step="0.25"
          />

        <h2>Asterisms</h2>
        <p class="description">
          Select asterisms (constellations) to be projected onto the shape.
        </p>
        <ul>
          <li v-for="asterism in availableAsterisms">
            <label><input type="checkbox" :value="asterism" v-model="selectedAsterisms" /> {{asterism.name}}</label>
          </li>
        </ul>
      </form>
    </div>

    <div id="preview">
      <h2>Preview</h2>
      <object-preview :object="object" />
    </div>

  </div>
</body>
</html>
