<!DOCTYPE html>
<html>
<head>
  <title>-</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#2A2D43">
  <link rel="stylesheet" href="assets/style.css" />
  <link rel="stylesheet" href="assets/materials.three.css" type="text/threejs+css" />
</head>
<body>
  <div id="app">
    <div id="menu">
      <form>
        <h2>Shape</h2>
        <p class="description">
          Pick the shape onto which stars and asterisms will be projected.
        </p>
        <select v-model="selectedGeometry">
          <option v-for="option in availableGeometries">
            {{option}}
          </option>
        </select>

        <h2>Stars</h2>
        <p class="description">
          Filter the catalog of stars.
        </p>

        <label>Magnitude</label>
        <input v-model="filters.magnitude"
          type="range"
          min="-2.00"
          max="13.00"
          step="0.25"
          />

        <h2>Asterisms</h2>
        <p class="description">
          Select asterisms (constellations) to be projected onto the shape.
        </p>
        <ul>
          <li v-for="asterism in availableAsterisms">
            <label><input type="checkbox" :value="asterism" v-model="selectedAsterisms" /> {{asterism.name}}</label>
          </li>
        </ul>
      </form>
    </div>

    <div id="preview">
      <h2>Preview</h2>
      <object-preview :object="object" />
    </div>

  </div>
  <script src="bundle.js"></script>
</body>
</html>
